from turbindo.runtime.io_context import IOContext

from phaseshift_infra.input_output.mattermost import MattermostClient
from phaseshift_infra.input_output.twilio import TwilioClient


async def setup():
    await IOContext.register(MattermostClient)
    await IOContext.register(TwilioClient)


def mm() -> MattermostClient:
    return IOContext.lookup(MattermostClient)


def tw() -> TwilioClient:
    return IOContext.lookup(TwilioClient)
